body {
    margin-top: 100px;
    font-family: 'Trebuchet MS', serif;
    line-height: 1.6
}

.container {
    width: 800px;
    margin: 0 auto;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li a {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
}

ul.tabs li a.current {
    background: #ededed;
    color: #222;
}

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
}

.loader {
    width: 100% !important;
    background: #ededed;
    height: 150px !important;
    padding: 50px 0 50px;
}

.tab-content.current {
    display: inherit;
}

/*Loader*/

.loading_value {
    margin: 0 auto;
    border: 5px solid #f3f3f3;
    border-top: 5px solid silver;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    margin: 0px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*Automation*/

.rule, .action {
    margin-left: 50px;
    margin-top: 10px;
}

/*Style*/
.section-labels {
    font-weight: bold;
}

input, select {
    border: 1px solid #000000;
}

table {
    width: 100%;
    text-align: center;
    font-size: 10px;
}

table tbody {
    background-color: white;
}

table thead {
    background-color: silver;
    font-weight: bold;
}

table td {
    border: 1px black solid;
}

table input[type="button"] {
    width: 80%;
    background-color: #ededed;
    text-align: center;
}
