<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heating Controller v0.1</title>
    <style>
        .header {
            width: 100%;
            display: inline-block;
        }

        .header-link {
            display: inline;
            width: 100px;
        }
    </style>
</head>
<body>


<div class="header">
    <div class="header-link">
        <a href="">автоматизація</a>
    </div>
    <div class="header-link">
        <a href="">конфігурація</a>
    </div>
    <div class="header-link">
        <a href="">статус</a>
    </div>
</div>
<div class="automation">

</div>
<div class="automation-tool">
    <input type="button" value="add"
           onclick="window.location.href='/automation/add'">
</div>
</body>
</html>